/* src/App.css */
.App {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #ffffff; 
  color: black;            
  min-height: 100vh;
  padding-top: 20px;
}


.App h1 {
  color: #000000; 
}

.student-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.student-card {
  border: 2px solid #4caf50;
  padding: 15px;
  border-radius: 10px;
  width: 200px;
  background-color: #f9f9f9; 
  color: #222222;           
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.student-card h2 {
  color: #333;
  font-size: 1.2rem;
}